
.navbar {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 16xp;
  height: 120px;
  background-color: #729aff !important;
}

.naBu {
  top: 16px;
  width: 100vw;
  color: white;
  padding: 0px;
  border: none;
  height: 34px;
  font-size: 1rem;
  position: center;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #729aff;
  filter: alpha(opacity=100);
}

.naBu:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); 
}

.zero {
  margin-top: zero;
}

.button {
  width: 80px;
  height: 30px;
  padding: 0px;
  color: white;
  font-size: 20;
  font-weight: bold;
  text-align: center;
  border-radius:20px;
  border: 2px solid #eff0ff;
  -moz-border-radius: 20px;
  background-color: #729aff;
  filter: alpha(opacity=100);
  -webkit-border-radius: 20px;
  
}

.button:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); 
}

.linkStyle {
  color: #729aff;
  text-decoration: none;
}

.txtbox {
  width: 260px;
  margin: 16px;
}

.txt {
  width: 150px;
  padding: 2px;
  align: justify;
  
}

.instxt {
  width: 180px;
  padding: 5px;
  color: black;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #d2d2d2;
  -webkit-border-radius: 10px;
}

.split:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.split {
  color: white;
  border: none;
  width: 100vw;
  opacity: 1.0;
  font-size: 50px;
  position: center;
  font-weight: bold;
  text-decoration: none;
  background-size: cover;
  text-transform: uppercase;
  height: calc(50vh - 60px);
  filter: alpha(opacity=100);
  background-repeat: no-repeat;
}

.splitIn3:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.splitIn3 {
  color: white;
  border: none;
  width: 100vw;
  opacity: 1.0;
  font-size: 50px;
  position: center;
  font-weight: bold;
  text-decoration: none;
  background-size: cover;
  text-transform: uppercase;
  height: calc(33.333333vh - 40px);
  filter: alpha(opacity=100);
  background-repeat: no-repeat;
}

body {
  margin: 0px;
  font-size: 18;
  font-weight: 300;
  font-family: calibri;
  background-color: #eff0ff !important;
}

a{
  text-decoration: none;
}

table {
  width: 40vw;
  padding: 8px;
  margin: 16px;
  width: responsive;
  text-align: center;
  font-weight:lighter;
  border-collapse: collapse;
}

.bold {
  paddig: 3px;
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.bg {
  color: white;
  background-color: #a0baff; 
}

.alR {
  width: 170px;
  text-align: left;
  margin: 10px;
}

