
.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  position: sticky;	
  min-width: 800px;
  min-height: 100px;
  background-color: #729aff !important;
}

.sfondo {
  height: 100%;
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("manager.jpg");
}

.button {
  width: 80px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius:20px;
  -moz-border-radius: 20px;
  background-color: #729aff; 
  border: 2px solid #96b4ff;
  -webkit-border-radius: 20px;
}


table {
  padding: 6px;
  width: responsive;
  text-align: center;
  font-weight: lighter;
  border: 1px solid gray;
}

.linkStyle {
  color: #729aff;
  text-decoration: none;
}

.txtbox {
  width: 260px;
  margin: 10px;
  position: center;
}

.p {
  width: 120px;
  padding: 2px;
  align: justify;
  
}

.instxt {
  width: 180px;
  height: 20px;
  padding: 5px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #d2d2d2;
  -webkit-border-radius: 10px;
}

.button1:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

.button2:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

.button1 {
  height: 50%;
  opacity: 1.0;
  font-size: 7;
  width: relative;
  position: center;
  font-weight: bold;
  border-sytle: solid;
  text-decoration: none;
  text-transform: uppercase;
  filter: alpha(opacity=100);
  background-color: transparent;
}

.button2 {
  height: 50%;
  opacity: 1.0;
  font-size: 7;
  width: relative;
  position: center;
  font-weight: bold;
  border-sytle: solid;
  text-decoration: none;
  text-transform: uppercase;
  filter: alpha(opacity=100);
  background-color: transparent;
  background-image: url("../images/scorp.jpg");
  
}


